{{ define "main" }}

<main class="sans-serif">
  <div class="cover bg-right" style="background-image: url(https://images.unsplash.com/photo-1489278353717-f64c6ee8a4d2?fit=crop&w=2000)">
    <div class="bg-black-50 pb5 pb6-m pb7-l">
      <div class="w-100 tc-l pt4 pt5-m pt6-l ph3">
        <h1 class="f2 f1-l fw2 white-90 mb0 lh-title">Download miễn phí</h1>
        <h2 class="fw1 f3 white-80 mt3 mb4">Tài liệu chương trình quét dọn cuộc sống</h2>
        <form class="mw6 center-l" name="Quet-don-cuoc-song Registration" action="thank-you" netlify>
          <label class="clip" for="email-address">Email Address</label>
          <input class="f6 f5-l fw1 input-reset black-80 bg-white pa3 w-100 bn" placeholder="you@yourbestmail.com" type="email" minlength="6" maxlength="64" name="email-address" value="" id="email-address">
          <br/>
          <input class="f6 f5-l button-reset pa3 tc bg-blue white pointer mt3 ttu tracked bn grow" type="submit" value="Đăng ký nhận tài liệu">
        </form>
      </div>
    </div>
  </div>
</main>

{{ end }}
