<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<body class="black-80">
<section class="flex justify-center">
  <header class="flex flex-column items-center-l mw9 lh-copy pa3">
    <h1 class="f3 f-headline-l fw6 mb3">Download miễn phí</h1>
    <h2 class="f1-l fw4">Thải Độc Mùa Xuân: Kế hoạch 3 ngày để Hồi phục Sinh Lực</h2>

    <form class="mw6 center-l" name="quet-don-cuoc-song-registration"
        action="/thai-doc-mua-xuan-register/thank-you" netlify>
      <label class="clip" for="email-address">Email Address</label>
      <input class="f6 f5-l fw1 input-reset black-80 bg-white pa3 w-100 ba b--gray" placeholder="you@yourbestmail.com" type="email" minlength="6" maxlength="64" name="email-address" value="" id="email-address">
      <br/>
      <input class="f6 f5-l button-reset pa3 tc bg-blue white pointer mt3 ttu tracked bn grow" type="submit" value="Đăng ký nhận tài liệu">
    </form>
  </header>
</section>
</body>
</html>
