<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<body class="black-80">
<section class="flex justify-center">
  <header class="flex flex-column items-center-l mw9 lh-copy pa3">
    <h1 class="f3 f-headline-l fw6 mb3">Cám ơn bạn đã đăng ký</h1>
    <h2 class="f1-l fw4">Download tài liệu ở link dưới</h2>
    <a class="f4 f3-l fw3 sans-serif dark-blue" href="https://drive.google.com/file/d/1hltXZ9h6V7hiot61bED9pbRwqw6ZIAMg/view?usp=sharing" target="_blank" rel="noopener">Chương trình quét dọn cuộc sống</a>
    <p class="f4 f3-l fw2 sans-serif mt4">Tìm hiểu thêm về Coach Nam Phương <a class="hover-silver" href="/posts">qua các bài viết</a></p>
  </header>
</section>
</body>
</html>
