{{ define "main" }}
<main class="flex flex-column items-center">
  <div class="mw7 w-100 ph3 ph4-ns">
    <h1>{{.Title}}</h1>
    <h3 class="ttu tracked">Sections</h3>
    <ul class="list pl0">
        <li class="mt3 mb2 tracked">
            {{ template "section-listing" (.Site.GetPage "section" "posts") }}
        </li>
        <li class="mt3 mb2 tracked">
            {{ template "section-listing" (.Site.GetPage "section" "cham-cham") }}
        </li>
    </ul>

    {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
        <h3 class="ttu tracked pt3">{{ $taxonomyname }}</h3>
        <ul class="list pl0">
          {{ range $key, $value := $taxonomy.ByCount }}
          <li class="mt3 mb2 tracked">
              {{if eq $taxonomyname "categories"}}&#128193;{{end}}
              {{if eq $taxonomyname "tags"}}&#9750;{{end}}
              <a href="{{ "/" | relLangURL}}{{ $taxonomyname | urlize }}/{{ $value.Term }}">
                  {{ $value.Term }}
                  ({{ $taxonomy.Count $value.Term }})
              </a>
          </li>
          {{ end }}
        </ul>
    {{ end }}
  </div>
</main>
{{ end }}

{{ define "section-listing" }}
    &#128210; <a href="{{ .Permalink }}">{{ .Title }} ({{ len .Pages }})</a>
    {{ if not (len .Sections | eq 0) }}
    <ul class="list">
    {{ range .Sections }}
        <li class="mt3 mb2 tracked">
        {{ template "section-listing" . }}
        </li>
    {{ end }}
    </ul>
    {{ end }}
{{ end }}
