{{ define "main" }}
<main class="flex flex-column items-center">
  <div class="mw7 w-100 ph3 ph4-ns">
    <article>
        <header>
            <h1>
                {{.Title}}
            </h1>
        </header>
    </article>
        {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
            <h3 class="ttu tracked">{{ $taxonomyname }}</h3>
            <ul class="list pl0 pb3">
              {{ range $key, $value := $taxonomy.ByCount }}
              <li class="mt3 mb2 tracked">
                  {{if eq $taxonomyname "categories"}}&#128193;{{end}}
                  {{if eq $taxonomyname "tags"}}&#9750;{{end}}
                  <a href="{{ "/" | relLangURL}}{{ $taxonomyname | urlize }}/{{ $value.Term }}">
                      {{ $value.Term }}
                      ({{ $taxonomy.Count $value.Term }})
                  </a>
              </li>
              {{ end }}
            </ul>
        {{ end }}
        {{ range .Pages }}
    {{ end }}
  </div>
</main>
{{ end }}
