{{ define "head_bottom" }}
{{ end }}

{{ define "main" }}
<main class="full center pl3 pl4-ns bt b--light-gray">
  <session class="w-100">
      {{ template "section-template" (dict "section" . "depth" 1) }}
  </session>
</main>
{{ end }}

{{ define "section-template" }}

{{ if not ((len .section.Sections | eq 0) | and (len .section.Pages | eq 0)) }}
    {{ $scratch := newScratch }}
    {{ if eq .depth 1 }}
        <h{{ .depth }} class="dark-green">
            {{ if not .section.Parent.IsHome }}
            <a href="{{ .section.Parent.Permalink }}" class="dark-green">{{ .section.Parent.Title }}</a> /
            {{ end }}
            {{ .section.Title }}
        </h{{ .depth }}>
    {{ else }}
        {{ printf "<a href=\"%s\" class=\"dark-green\">%s</a>" .section.Permalink .section.Title | $scratch.Set "title" }}
        {{ if .prefix }}
            {{ printf "%s / %s" .prefix ($scratch.Get "title") | $scratch.Set "title" }}
        {{ end }}
        {{ if not (len .section.Pages | eq 0) }}
            <h{{ .depth }} class="dark-green">{{ $scratch.Get "title" | safeHTML }}</h{{ .depth }}>
        {{ end }}
    {{ end }}


    {{ range .section.Pages }}
    {{ if ne .Type "meta" }}
        {{ partial "post/selected.html" . }}
    {{ end }}
    {{ end }}

    {{ range .section.Sections }}
        {{ template "section-template" (dict "section" . "depth" 2 "prefix" ($scratch.Get "title") ) }}
    {{ end }}
{{ end }}
{{ end }}
