{{ define "body_top" }}
  <!-- partial "FB JavaScript SDK on your page once, ideally right after the opening body tag -->
  {{ partial "facebook_sdk.html" . }}
{{ end }}

{{ define "main" }}
<main class="flex flex-column items-center">
  <article class="mw7 w-100 ph3 ph4-ns">
    {{ partial "post/category_tag_list.html" . }}
    <header>
    {{ if .Params.author }}{{ partial "post_meta.html" . }}{{ end }}
    {{ partial "share_icons.html" . }}

    {{ if ne .Params.header.layout "hero" }}
    <h1 class="f2 fw6 lh-title mb1">{{ .Params.title }}</h1>
    {{ if .Params.subtitle }}
    <h2 class="f3 fw4 lh-title silver mv2">{{ .Params.subtitle }}</h2>
    {{ end }}
    {{ end }}
    </header>

    <div class="mw7 w-100 f5 f4-ns fw3 lh-copy mb0">
      {{ .Content }}
    </div>

    <div class="mw7 w-100 lh-copy">
      {{ partial "share_icons.html" . }}
      <div class="fb-comments" data-href="{{ .Permalink }}" data-numposts="5"></div>
      {{ partial "post/category_tag_list.html" . }}
      {{ partial "related.html" . }}
    </div>
  </article>
</main>
{{ end }}
