<div class="bt b--light-gray">

{{ $scratch := newScratch }}
{{ with .Params.categories }}{{ if not (len . | eq 0) }}
    {{ $scratch.Set "showTop" true }}
{{ end }}{{ end }}
{{ with .Parent }}{{ if not .Parent.IsHome }}
    {{ $scratch.Set "showTop" true }}
{{ end }}{{ end }}

{{ if $scratch.Get "showTop" }}
<nav class="bb b--light-gray pb1 ttu pv3">
{{ template "breadcumb-template" .Parent }}
{{ range $name, .Params.categories }}
  <a class="link dim f6 f5-ns dib mr3" href="/categories/{{ lower $name | urlize }}">&#128210; {{ $name }}</a>
{{ end }}
</nav>
{{ end }}

{{ with .Params.tags }}{{ if not (len . | eq 0) }}
<nav class="bb b--light-gray i pv3">
{{ range $name, . }}
  <a class="link dim f6 f5-ns dib mr3" href="/tags/{{ lower $name | urlize }}">&#9750; {{ $name }}</a>
{{ end }}
</nav>
{{ end }}{{ end }}

</div>

{{ define "breadcumb-template" }}
    {{ if not .Parent.IsHome }}
        {{ template "breadcumb-template" .Parent }}
        <a class="link dim f6 f5-ns dib mr3" href="{{ .Permalink }}">&#128193; {{ .Title }}</a>
    {{ end }}
{{ end }}
