<article class="bt b--black-10 mid-gray">
  <a class="db pv4 ph3 ph0-l no-underline black dim" href="{{ .Permalink }}">
    <div class="flex flex-column flex-row-ns">
      <div class="pr3-ns mb4 mb0-ns w-100 w-30-ns">
        <img src="{{ .Params.cover_image }}" class="db">
      </div>
      <div class="w-100 w-70-ns pl3-ns">
        <h2 class="mt0 lh-title">{{ .Title }}</h2>
        <p class="lh-copy">{{  .Summary | plainify }}</p>
        <div class="f6 fw3 gray mt0">
          <time>{{ .Date.Format "Jan 2, 2006" }}</time>
          <span class="ttl">&middot; {{ .ReadingTime }} {{ .Site.Data.settings.ui_text.minute_read }}</span>
        </div>
      </div>
    </div>
  </a>
</article>
