{{ define "main" }}
<main class="flex flex-column items-center">
  <div class="mw7 w-100 ph3 ph4-ns">
    <article>
        <header>
            <h1 class="tracked">
                {{if eq .Data.Singular "category"}}&#128193;{{end}}
                {{if eq .Data.Singular "tag"}}&#9750;{{end}}
                {{.Title}}
            </h1>
        </header>
    </article>
    <ul class="list pl0">
    {{ range .Pages }}
        <li class="mt3 mb2 tracked">
            {{if eq .Data.Singular "category"}}&#128193;{{end}}
            {{if eq .Data.Singular "tag"}}&#9750;{{end}}
            {{if eq .Data.Singular nil}}&#9998;{{end}}
            <a href="{{.Permalink}}">{{.Title}}</a>
        </li>
    {{ end }}
    </ul>
  </div>
</main>
{{ end }}
