{{ define "main" }}

<div class="tl bt b--black-10 pa3 pa4-ns bg-light-gray full">
  <div class="mw9 center">
    <h1 class="">Hãy để coach giúp bạn!</h1>
    <section class="lh-copy">
      <div class="cf">
        <article class="fl pv2 w-100 w-third-l pr4-l">
          <h2>Đạt mục tiêu Sức khoẻ</h2>
          <p class="f5 f4-ns measure lh-copy mt0">
            Coach đưa ra lộ trình từng bước để bạn có thêm năng lượng,
            thêm tự tin yêu đời, tận hưởng cuộc sống lành mạnh mới.
          </p>
        </article>
        <article class="pv2 fl w-100 w-third-l ph3-l">
          <h2 >Cân bằng Cuộc sống</h2>
          <p class="f5 f4-ns measure lh-copy mt0">
            Coach giúp bạn hiểu rõ và tập trung cho điều mình khao khát.
            Từ đó bạn sẽ cải thiện các khía cạnh quan trọng của cuộc sống:
              Quan hệ, Sự nghiệp, Tài chính, Sáng tạo...
          </p>
        </article>
        <article class="pv2 fl w-100 w-third-l pl4-l">
          <h2>Hiểu chính Mình</h2>
          <p class="f5 f4-ns measure lh-copy mt0">
            Coach giúp bạn tháo gỡ những rào cản ngầm và lắng nghe tiếng nói
            nội tâm. Bạn sẽ tận dụng được nguồn nội lực và đam mê bên trong,
            và bắt đầu sống cuộc đời mình khao khát!
          </p>
        </article>
      </div>
    </section>
  </div>
</div>

<div class="full center mw9 pa3 pa2-m pa5-l justify-center pb0 pb0-ns pb0-m pb0-l cf">
  <article class="w-third-l w-100 mb4-ns mb2 ph2-ns ph1 fl">
    <div class="aspect-ratio aspect-ratio--16x9 dim overflow-hidden">
      <a class="flex items-center justify-center aspect-ratio--object cover link white hover-white" href="/1-on-1-coaching"
        style="background:url(https://images.unsplash.com/photo-1502843082787-de71ad5cc73f?auto=format&fit=crop&w=500&h=333) no-repeat center center">
        <span class="flex items-center justify-center w-100 h-100 bg-black-40 bg-animate fw4 f3 f2-ns pa2">Khai vấn 1:1</span>
      </a>
    </div>
  </article>
  <article class="w-third-l w-100 mb4-ns mb2 ph2-ns ph1 fl">
    <div class="aspect-ratio aspect-ratio--16x9 dim overflow-hidden">
      <a class="flex items-center justify-center aspect-ratio--object cover link white hover-white" href="/group-coaching"
        style="background:url(https://images.unsplash.com/photo-1496275068113-fff8c90750d1?auto=format&fit=crop&w=500&h=333) no-repeat center center">
        <span class="flex items-center justify-center w-100 h-100 bg-black-40 bg-animate fw4 f3 f2-ns pa2">Theo nhóm</span></a>
    </div>
  </article>
  <!-- <article class="w-third-l w-100 mb4-ns mb2 ph2-ns ph1 fl">
    <div class="aspect-ratio aspect-ratio--16x9 dim overflow-hidden">
      <a class="flex items-center justify-center aspect-ratio--object cover link white hover-white" href="/free-coaching"
        style="background:url(https://images.unsplash.com/photo-1460518451285-97b6aa326961?auto=format&fit=crop&w=500&h=333) no-repeat center center">
        <span class="flex items-center justify-center w-100 h-100 bg-black-40 bg-animate fw4 f3 f2-ns pa2">Miễn phí</span></a>
    </div>
  </article> -->
</div>

{{ partial "testimonials.html" . }}

{{ end }}
