{{ define "head_bottom" }}
{{ end }}

{{ define "main" }}
<main class="full center pl3 pl4-ns bt b--light-gray">

  <session class="flex flex-column items-center-ns mt3 mr3 mr4-ns">
    <input id="search-field" onkeyup="search()" placeholder="Từ khoá tìm kiếm"
    class= "db f6 f5-l fw1 input-reset ba b--black-20 br0 black-80 bg-white pa2 w-100-ns mw5-ns"/>
  </session>

  {{ template "section-template" (dict "section" . "depth" 1) }}

</main>
{{ end }}

{{ define "body_bottom" }}
{{ partial "posts_search_filter.html" .  }}
{{ end }}

{{ define "section-template" }}
{{ if not ((len .section.Sections | eq 0) | and (len .section.Pages | eq 0)) }}

    {{ $scratch := newScratch }}
    {{ if eq .depth 1 }}
        <h{{ .depth }} class="dark-green">
            {{ if not .section.Parent.IsHome }}
            <a href="{{ .section.Parent.Permalink }}" class="dark-green">{{ .section.Parent.Title }}</a> /
            {{ end }}
            {{ .section.Title }}
        </h{{ .depth }}>
    {{ else }}
        {{ printf "<a href=\"%s\" class=\"dark-green\">%s</a>" .section.Permalink .section.Title | $scratch.Set "title" }}
        {{ if .prefix }}
            {{ printf "%s / %s" .prefix ($scratch.Get "title") | $scratch.Set "title" }}
        {{ end }}
        {{ if not (len .section.Pages | eq 0) }}
            <h{{ .depth }} class="dark-green">{{ $scratch.Get "title" | safeHTML }}</h{{ .depth }}>
        {{ end }}
    {{ end }}


    {{ range .section.Sections }}
        {{ template "section-template" (dict "section" . "depth" 2 "prefix" ($scratch.Get "title") ) }}
    {{ end }}


    {{ if not (len .section.Pages | eq 0) }}
        {{ if len .section.Sections | lt 0 }}
        <h2>Bài viết khác</h2>
        <div class="">
        {{ else }}
        <div class="bb b--black-10 mid-gray bw1 mb3">
        {{ end }}
        <section class="grid w-100 db cf">
            <div class="grid-sizer w-100 w-50-ns w-50-m w-25-l"></div>
            {{ if eq .depth 1 }}
                {{ range .section.Pages }}
                    {{ partial "post/listed.html" . }}
                {{ end }}
            {{ else }}
                {{ range .section.Pages | first 4 }}
                    {{ partial "post/listed.html" . }}
                {{ end }}
            {{ end }}
        </section><!-- grid -->
        {{ if not (eq .depth 1) | and (len .section.Pages | lt 4)  }}
        <a href="{{ .section.Permalink }}" class="f5 no-underline inline-flex items-center pa3 mb4 ba border-box grow">
          <span class="pr1">Xem thêm</span>
          <svg class="w1" data-icon="chevronRight" viewBox="0 0 32 32" style="fill:currentcolor">
            <title>chevronRight icon</title>
            <path d="M12 1 L26 16 L12 31 L8 27 L18 16 L8 5 z"></path>
          </svg>
        </a>
        {{ end }}
        </div>
    {{ end }}

{{ end }}
{{ end }}
