{{ define "head_bottom" }}
{{ end }}

{{ define "main" }}
<main class="full center pl3 pl4-ns bt b--light-gray">

  <session class="flex flex-column items-center-ns mt3 mr3 mr4-ns">
    <input id="search-field" onkeyup="search()" placeholder="Từ khoá tìm kiếm"
    class= "db f6 f5-l fw1 input-reset ba b--black-20 br0 black-80 bg-white pa2 w-100-ns mw5-ns"/>
  </session>

  <h1 class="f4 f3-ns fw4 lh-title mb0 pb2">Bài viết</h1>

  <!-- Ranges through content/posts/*.md -->
  <session class="grid w-100 db cf">
    <div class="grid-sizer w-100 w-50-ns w-50-m w-third-l"></div>
    {{ range .Pages }}
    {{ if ne .Type "meta" }}
    {{ partial "post/listed.html" . }}
    {{ end }}
    {{ end }}
  </session><!-- grid -->
</main>
{{ end }}

{{ define "body_bottom" }}
{{ partial "layout_search_filter.html" .  }}
{{ end }}
