<h2>Chia sẻ yêu thương</h2>

Đầu tư vào yêu thương là lâu bền và an toàn nhất. Càng yêu thương nhiều bao nhiêu bạn càng giàu có bấy nhiêu.
Tôi và bạn hãy cùng thực hiện nhé!

<blockquote>
  10% chi phí bạn trả sẽ được Phương dành cho các hoạt động phi lợi nhuận,
  từ thiện hoặc hỗ trợ cơ hội học tập cho trẻ em có hoàn cảnh khó khăn.
</blockquote>

{{ partial "contact_cta.html" . }}

<h2>Khai vấn miễn phí</h2>

Bạn sợ rủi ro vì không rõ hiệu quả có thể mang lại?

<blockquote>
  Mỗi tháng Phương sẽ dành cho nhiều nhất 8 người tham gia các buổi
  khai vấn thử miễn phí mang tên “Lịch sử sức khoẻ”.
</blockquote>

{{ partial "free_coach_cta.html" . }}
