<section class="full flex justify-center mid-gray bt bb b--light-gray bg-light-gray">
<article class="mw7 w-100 ph3 ph4-ns pv4 pv5-ns">
  <h1 class="fw4 f3 f2-ns lh-title mt0 mb3">
    Để mua gói dịch vụ
  </h1>
  <p class="fw4 lh-copy mt0 mb3">
    hoặc giải đáp thắc mắc, vui lòng liên hệ
  </p>
  <div>
    <a class="f5 bg-blue no-underline washed-blue grow pv2 ph3 dib mr3 mb2 hover-white"
      href="mailto:namphuong.cf@gmail.com">
      Email namphuong.cf@gmail.com
    </a>
    <!-- <a class="f5 dark-blue bg-white no-underline ba grow pv2 ph3 dib hover-dark-blue" -->
    <a class="f5 bg-blue no-underline washed-blue grow pv2 ph3 dib mr3 mb2 hover-white"
      href="tel:+84389033318">
      Điện thoại 0389 033 318
    </a>
  </div>
</article>
</section>
