<section class="full flex justify-center mid-gray bt bb b--light-gray bg-light-gray">
  <article class="mw7 w-100 ph3 ph4-ns pv4 pv5-ns">
    <p class="fw4 lh-copy mt0 mb3 ttu">
      là 1 trong 8 người được chọn
    </p>
    <h1 class="fw4 f3 f2-ns lh-title mt0 mb3">
      Để được khai vấn miễn phí
    </h1>
    <div>
      <a class="f5 bg-blue no-underline washed-blue grow pv2 ph3 dib mr3 mb2 hover-white"
        href="/free-coaching">
        Xem hướng dẫn và đăng ký
      </a>
    </div>
  </article>
</section>
