<script>
function viNormalize(str) {
  str = str.toLowerCase();
  str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
  str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
  str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
  str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
  str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
  str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
  str = str.replace(/đ/g, "d");
  str = str.replace(/[^a-z0-9]/g, " ");
  str = str.replace(/\s+/g, " ");
  return str;
}
var posts = [
  {{ range .Site.Pages }}
  {{ if eq .Kind "page" | and (eq .Type "posts" | or (eq .Type "cham-cham")) }}
  {
    id: "{{ .UniqueID }}",
    title: viNormalize("{{ .Title | plainify }}"),
    // desc: viNormalize("{{ with .Params.description }}{{ . | plainify }}{{ else }}{{  .Summary | plainify }}{{ end }}")
  },
{{ end }}
{{ end }}
];
</script>

{{- $js1 := resources.Get "js/masonry.js" }}
{{- $js2 := resources.Get "js/imagesloaded.js" }}
{{- $js3 := resources.Get "js/fuse.js" }}
{{- $js4 := resources.Get "js/mark.js" }}
{{- $js5 := resources.Get "js/layout_search_filter.js" }}
{{ $script := slice $js1 $js2 $js3 $js4 $js5 | resources.Concat "search_filter.js" | minify | fingerprint }}
<script src="{{ $script.Permalink }}"></script>
