<script src="//cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fuse.js/3.0.4/fuse.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.0/mark.min.js"></script>
<script>

function viNormalize(str) {
  str = str.toLowerCase();
  str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
  str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
  str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
  str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
  str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
  str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
  str = str.replace(/đ/g, "d");
  str = str.replace(/[^a-z0-9]/g, " ");
  str = str.replace(/\s+/g, " ");
  return str;
}
var markOptions = {
  "element": "span",
  "className": "bg-light-yellow",
  acrossElements: true,
  "separateWordSearch": true,
  synonyms: {
    "à":"a","á":"a","ạ":"a","ả":"a","ã":"a","â":"a","ầ":"a","ấ":"a","ậ":"a","ẩ":"a","ẫ":"a","ă":"a","ằ":"a","ắ":"a","ặ":"a","ẳ":"a","ẵ":"a",
    "è":"e","é":"e","ẹ":"e","ẻ":"e","ẽ":"e","ê":"e","ề":"e","ế":"e","ệ":"e","ể":"e","ễ":"e",
    "ì":"i","í":"i","ị":"i","ỉ":"i","ĩ":"i",
    "ò":"o","ó":"o","ọ":"o","ỏ":"o","õ":"o","ô":"o","ồ":"o","ố":"o","ộ":"o","ổ":"o","ỗ":"o","ơ":"o","ờ":"o","ớ":"o","ợ":"o","ở":"o","ỡ":"o",
    "ù":"u","ú":"u","ụ":"u","ủ":"u","ũ":"u","ư":"u","ừ":"u","ứ":"u","ự":"u","ử":"u","ữ":"u",
    "ỳ":"y","ý":"y","ỵ":"y","ỷ":"y","ỹ":"y",
    "đ":"d"
  }
};

var posts = [
{{ range .Pages }}
  {
    id: "{{ .UniqueID }}",
    title: viNormalize("{{ .Title | plainify }}"),
    desc: viNormalize("{{ with .Params.description }}{{ . | plainify }}{{ else }}{{  .Summary | plainify }}{{ end }}")
  },
{{ end }}
];

var options = {
  threshold: 0.25,
  distance: 999,
  keys: ['title', 'desc'],
  id: 'id'
}
var fuse = new Fuse(posts, options), results;
var items = document.getElementsByClassName("grid-item");
var searchField = document.getElementById("search-field");

function searching() {
  var str = viNormalize(searchField.value.trim());
  if (str.length == 0) { str = " "; }
  results = fuse.search(str);
  // console.log(str, results);
  var item, i, n = items.length, hiliteItems = [];
  for (i = 0; i < n; i++) {
    item = items[i];
    if ( results.indexOf(item.id) > -1 ) {
      item.style.display = 'block';
      hiliteItems.push(item);
    } else {
      item.style.display = 'none';
    }
  }

  var instance = new Mark(hiliteItems);
  instance.unmark({
    done: function() {
      instance.mark(str, markOptions);
    }
  });

  msnry.layout();
};

var search =  _.debounce(searching, 300, { 'maxWait': 900 });
</script>
