<h1>khách hàng nhận xét</h1>

{{ $site := .Site }}

{{ range $site.Data.homepage.selected_testimonials }}
  {{ with index $site.Data.testimonials . }}
  <article class="w-100 w-50-ns w-third-l center bg-white fl pa3">
    <div class="br3 pa3 ma pa4-ns mv3 bn b--black-10 shadow-4">
      <div class="tc">
        <img src="{{ .avatar }}" class="br-100 h3 w3 dib">
        <h1 class="f4">{{ .name }}</h1>
        <hr class="mw3 bb bw1 b--black-10">
      </div>
      <p class="lh-copy center f6 f5-ns black-70">{{ .text | replaceRE "\n" "<br>" | markdownify | safeHTML }}</p>
      <div class="f6 fw3 gray mt0">
        {{ .job }} &middot; {{ .from }}
      </div>
    </div>
  </article>
  {{ end }}
{{ end }}

<script>
  console.log("selected testimonials:");
  console.log({{ $site.Data.homepage.selected_testimonials }});
  {{ range $site.Data.homepage.selected_testimonials }}
  console.log({{ index $site.Data.testimonials . }});
  {{ end }}
</script>
